{{ partial "header.html" . }}
{{ partial "head.html" . }}

<!-- <div class="container"> -->
<main>
<article>
<h1>WHOOPSIE! ERROR 404: PAGE NOT FOUND</h1>

<p>
Oh dear...something has gone wrong on our end; we didn't mean for this to happen.
</p>

<p>
If you want to report the error, that would be greatly appreciated: <a href="mailto:themedianduck@gmail.com" class="email">themedianduck@gmail.com</a>!
</p>

<p>Please provide details of how you encountered this error (what page you were on before the error, and what you clicked on to get the error)!
</p>

</article>
</main>
<!-- </div> -->

{{ partial "footer.html" . }}