{{- if isset .Site.Params "subtitle" -}}
<em><p>{{ .Site.Params.Subtitle | markdownify }}</p></em>
{{- end -}}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-61T5JLRMP0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-61T5JLRMP0');
</script>

<!-- <link rel="icon" type="img/logo.jpg" href={{ .Site.Params.favicon }} /> -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
<link rel="manifest" href="img/favicon/site.webmanifest">