<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
            <div class="article">
            {{ .Content }}
            </div>
            </main>
            
            <b><p>Latest Posts</p></b>

			<main class="list">

				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<a href="{{ .RelPermalink }}">{{.Title}}</a>
					<time>{{ dateFormat "2006-01-02" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
